# --- Virtual Environments ---
# Catches myenv, venv, .venv, etc.
**/myenv/
**/venv/
**/.venv/
.env

# --- Python & Notebooks ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignore all files in data folders
data/raw/*
data/processed/*
data/temp/*

# But keep the folders (use a placeholder file)
!data/raw/.gitkeep
!data/external/.gitkeep
!data/processed/.gitkeep
!data/temp/.gitkeep
!data/processed/tamir_bila_stats.csv
!data/processed/selection_in_covid.csv
!data/processed/covid_bila_merge.csv


# --- Distribution / Reports ---
# If you want users to generate their own HTML reports, ignore this. 
# If you want to show off your results on GitHub, keep them tracked.
# reports/figures/*.html 

# --- OS & IDE ---
.DS_Store
.Thumbs.db
.vscode/
.idea/